<div class="panel-grid row m-b-0 certificates"> 
    <div class="header">
      <h2>{{lang.my_certificates}}</h2>
    </div>

    <div class="card-columns lightbox">
        {% for cert in certs %}
            <a href="{{base_url()}}/uploads/{{cert.imagename}}">
                <div class="card">
                <img src="{{base_url()}}/uploads/{{cert.imagename}}">
                </div>
            </a>
        {% endfor %}
    </div>    
</div>