 <li {% if is_current_path('dashboard') %} class="active"{% endif %}>
    <a href="{{path_for('dashboard')}}">
        <i class="fas fa-home"></i>Главная страница
    </a>
</li>

 <li {% if is_current_path('admin.aboutme') %} class="active"{% endif %}>
    <a href="{{path_for('admin.aboutme')}}">
        <i class="fas fa-user"></i>Обо мне
    </a>
</li>

 <li {% if is_current_path('admin.media') %} class="active"{% endif %}>
    <a href="{{path_for('admin.media')}}">
        <i class="fas fa-video"></i>Видеофайлы
    </a>
</li>



                
{# 
<li class="has-sub">
    <a class="js-arrow " href="#">
        <i class="fas fa-tachometer-alt"></i>Home page settings
    </a>
    
    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list" {% if is_current_path('headcontacts') or is_current_path('slider') or is_current_path('threeboxes') or is_current_path('clients') or is_current_path('welcomeblock') %} style="display:block;" {% endif %}>
        <li {% if is_current_path('headcontacts') %} class="active"{% endif %}>
            <a href="{{path_for('headcontacts')}}">Header Contacts</a>
        </li>
        <li {% if is_current_path('slider') %} class="active"{% endif %}>
            <a href="{{path_for('slider')}}">Slider Settings</a>
        </li>
        <li {% if is_current_path('threeboxes') %} class="active"{% endif %}> 
            <a href="{{path_for('threeboxes')}}">3 Boxes</a>
        </li>
        <li {% if is_current_path('welcomeblock') %} class="active"{% endif %}>
            <a href="{{path_for('welcomeblock')}}">Welcome block</a>
        </li>
        <li {% if is_current_path('clients') %} class="active"{% endif %}>
            <a href="{{path_for('clients')}}">Our clients</a>
        </li>
    </ul>
</li>#}

                
               