{% extends 'main.twig' %}

{% block title %}
    <title>{{lang.contact_page_title}} - psycholog.az</title>  
    <meta name="author" content="{{lang.my_name}}">
    <meta name="description" content="{{lang.site_description}}">
    <meta name="keywords" content="{{lang.site_tags}}">
{% endblock %}

{% block page %}
<div class="col-md-12" role="main">
    <div class="content-container">
        
        <div class="main-title">
            <h1 class="main-title__primary">{{lang.not_found_title}}</h1>
        </div>

        <article>

        <div class="panel-grid row m-b-0">
            <div class="panel-grid-cell text-center">
                <div class="textwidget">
                    {{lang.not_found_text}}
                </div>
            <a href="{{base_url()}}"><button class="btn">{{lang.mainpage}}</a>
            </div>
        </div>

        </article>
    
    </div>
</div>

{% endblock %}