</div>
<div class="footer-gradient"></div>
    
    <footer class="footer">
        
        <div class="footer-top">
            <div class="container  footer-top__divider">
                <div class="row">
                    <div class="col-xs-12  col-md-4">
                        <div class="widget  widget_text">
                            <div class="textwidget">
                                <p>
                                {% if lang.lang == 'az' %} {{contacts.footer_desc_az}} {% endif %}
                                {% if lang.lang == 'ru' %} {{contacts.footer_desc_ru}} {% endif %}
                                
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12  col-md-4">
                        <div class="widget  widget_text">
                            <h6 class="footer-top__headings">{{lang.contact_number}}</h6>
                            <div class="textwidget">
                                <a class="btn  btn-danger  btn-rounded" href="tel:{{contacts.mobile}}" target="_self">
                                    <i class="fa fa-phone"></i> {{contacts.mobile}}
                                </a>
                                
                                <a class="btn  btn-success  btn-rounded" href="https://api.whatsapp.com/send?phone={{contacts.whatsapp}}&text=Здравствуйте"  target="_self">
                                    <i class="fa fa-whatsapp"></i> {{lang.write_me_in_whatsapp}} 
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12  col-md-4">
                        <div class="widget  widget_text">
                            <h6 class="footer-top__headings">{{lang.social_networks}}</h6>
                            <div class="textwidget">
                                <div class="widget  header-widgets__widget  widget-social-icons">
                                    {% set socials = contacts.social_links|split('\r\n') %}
                                    {% for social in socials %}
                                        {% set urlParts = parse_url(social) %}
                                        <a class="social-icons__link" href="{{social}}" target="_blank">
                                            <i class="fa  fa-{{urlParts}}"></i>
                                        </a>
                                    {% endfor %}
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="footer-bottom">
            <div class="container">
                
                <div class="footer-bottom__left">
                    <img src="{{base_url()}}/assets/images/logo.png" alt="Tarana Arif" class="footer_logo">
                </div>
                
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="{{base_url()}}/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{base_url()}}/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{base_url()}}/assets/js/picturefill.min.js"></script>
    <script type="text/javascript" src="{{base_url()}}/assets/js/magnific-popup.js"></script>
    <script type="text/javascript" src="{{base_url()}}/assets/js/main.js"></script>
  
<!-- Go to www.addthis.com/dashboard to customize your tools -->
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-521769ec1af2ca55"></script>
</body>
</html>