<div class="container">
    <header class="header">
        
        <div class="logo">
            <a href="/">
               <img src="{{base_url()}}/assets/images/logo.png" alt="MentalPress"
                    srcset="{{base_url()}}/assets/images/logo.png, {{base_url()}}/assets/images/logo.png 2x" class="img-responsive"
                    width="260" height="90">
            </a>
        </div>

        <a href="#" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggle__text">MENU</span>
            <span class="navbar-toggle__icon-bar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </span>
        </a>

        <div class="header-widgets">
            <div class="widget_nav_menu">
                <div id="navbar" class="navbar-top-collapse collapse">
                    <ul id="menu-main-menu" class="menu">
                        
                        <li class="menu-item {% if is_current_path('home') %}  current-menu-item {% endif %}">
                            <a href="/">{{ lang.main_page }}</a>
                        </li>
                        
                        <li class="menu-item {% if is_current_path('aboutme') %}  current-menu-item {% endif %}">
                            <a href="/aboutme">{{ lang.about_me }}</a>
                        </li>
                       
                        <li class="menu-item {% if 'service' in url %} current-menu-item {% endif %} menu-item-has-children">
                            <a href="/services">{{lang.my_services}}</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="/services/prices">{{lang.service_price}}</a>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="menu-item {% if is_current_path('media') %}  current-menu-item {% endif %}">
                            <a href="/media">{{ lang.media }}</a>
                        </li>
                        
                        <li class="menu-item {% if is_current_path('contact') %}  current-menu-item {% endif %}">
                            <a href="/contact">{{ lang.contact_me }}</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>