<div class="top">
    <div class="top__background"></div>
    <div class="container">
        <div class="top__tagline">Mob: 077 514 42 04</div>
        <nav class="top__menu">
            <ul id="menu-top-menu" class="top-navigation">
                <li class="menu-item menu-item-has-children">
                    <a href="#"> 
                        <img src="{{base_url()}}/assets/images/flags/{{lang.lang}}.png" class="flag"> {{lang.change_lang}}
                    </a>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="?lang=az">
                                <img src="{{base_url()}}/assets/images/flags/az.png" class="flag" alt="Azərbaycan"> Azərbaycan
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="?lang=ru">
                                <img src="{{base_url()}}/assets/images/flags/ru.png" class="flag" alt="Русский"> Русский
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>