{% extends 'main.twig' %}

{% block page %}
<div class="col-xs-12  col-md-9 col-md-push-3" role="main">
<div class="content-container">

    <div class="main-title">
        <h1 class="main-title__primary">{{lang.about_me_page_title}}</h1>
        <h3 class="main-title__secondary">{{lang.about_me_page_desc}}</h3>
    </div>

        <div class="panel-grid row m-b-0">
            <div class="col-md-6 panel-grid-cell">
                <div class="textwidget">
                    {% if lang.lang == 'az' %} {{aboutme.text_az|raw}} {% endif %}
                    {% if lang.lang == 'ru' %} {{aboutme.text_ru|raw}} {% endif %}
                </div>
            </div>
       
            <div class="col-md-6 panel-grid-cell">
                <div class="textwidget">
                    <div class="aboutme_splash" style="background-image:url({{base_url()}}/uploads/tarana_aboutme.jpg)"></div>
                </div>
            </div>
        </div>
        
        
        {% include 'components/certificates.twig' %}

</div>
</div>

{#THE BLOCK OF SIDEBAR#}
<div class="col-xs-12  col-md-3  col-md-pull-9">
 <div class="sidebar">
 {% include 'sidebars/insta.twig' %}
  {% include 'sidebars/messenger.twig' %}
  </div>
</div>
{% endblock %}