{% extends 'main.twig' %}

{% block page %}
{#THE BLOCK OF MAIN CONTENT#}
<div class="col-xs-12  col-md-9 col-md-push-3" role="main">
    <div class="content-container woocommerce">
        <ul class="list-unstyled video-list-thumbs row">
            {% for video in videos %}
                
                <li class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    
                    <a href="#" data-toggle="modal" data-target="#{{video.videoid}}" title="{{video.videoname}}">
                        <img src="http://i.ytimg.com/vi/{{video.videoid}}/mqdefault.jpg" alt="{{video.videoname}}" class="img-responsive" height="130px" />
                        <h2>{{video.videoname}}</h2>
                        <span class="glyphicon-play-circle"><i class="fa fa-youtube-play"></i></span>
                        <span class="duration">{{video.duration}}</span>
                    </a>
                    
                    <div class="modal fade" id="{{video.videoid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                        <div class="modal-body mb-0 p-0">
                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{video.videoid}}"
                                allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">{{lang.close}}</button>
                        </div>
                        </div>
                    </div>
                    </div>
                    
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{#THE BLOCK OF SIDEBAR#}
<div class="col-xs-12  col-md-3  col-md-pull-9">
  <div class="sidebar">
    {% include 'sidebars/aboutme.twig' %}
  </div>
</div>
{% endblock %}