{% extends 'main.twig' %}

{% block title %}
    <title>{{lang.my_services}} - psycholog.az</title>  
    <meta name="author" content="{{lang.my_name}}">
    <meta name="description" content="{{lang.site_description}}">
    <meta name="keywords" content="{{lang.site_tags}}">
{% endblock %}

{% block page %}
<div class="col-xs-12  col-md-9 col-md-push-3" role="main">
    <div class="content-container woocommerce">
    
        <div class="main-title">
            <h1 class="main-title__primary">{{lang.my_services}}</h1>
        </div>
        
        <div class="latest-posts">
            <div class="row">
                {% for post in posts %}
                    <div class="col-xs-12 col-md-4">
                        <div class="latest-post">
                            <a class="latest-post__thumbnail" href="/service/{{ post.pageslug }}">
                                <img width="270" height="190" src="/uploads/{{ post.pageimage}}" class="attachment-latest-posts size-latest-posts wp-post-image">
                            </a>
                            
                        
                            <h4 class="latest-post__title">
                                <a href="/service/{{ post.pageslug }}">
                                    {% if lang.lang == 'az' %} {{ post.pagetitle_az }} {% endif %}
                                    {% if lang.lang == 'ru' %} {{ post.pagetitle_ru }} {% endif %}
                                </a>
                            </h4>
                            <div class="latest-post__excerpt"> 
                                    {% if lang.lang == 'az' %} {{ post.shorttext_az }} {% endif %}
                                    {% if lang.lang == 'ru' %} {{ post.shorttext_ru }} {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>   
    </div>
</div>

{#THE BLOCK OF SIDEBAR#}
<div class="col-xs-12  col-md-3  col-md-pull-9">
     <div class="sidebar">
            {% include 'sidebars/aboutme.twig' %}
     </div>
</div>

{% endblock %}