{% extends 'main.twig' %}

{% block page %}

{#THE BLOCK OF MAIN CONTENT#}
<div class="col-xs-12  col-md-9 col-md-push-3" role="main">
    <div class="latest-posts">
        <div class="row">       
            {% for post in posts %}

                <div class="col-xs-12 col-md-4">
                    <div class="latest-post">
                        <a class="latest-post__thumbnail" href="/services/{{ post.slug }}">
                            <img width="270" height="190" src="{{ post.image}}" class="attachment-latest-posts size-latest-posts wp-post-image">
                        </a>
                        
                        <div class="latest-post__categories">
                            <ul class="post-categories">
                                <li>{{ this.page.title }}</li>
                            </ul>
                        </div>
                        
                        <h4 class="latest-post__title">
                            <a href="/services/{{ post.slug }}">{{ post.title }} </a>
                        </h4>
                        <div class="latest-post__excerpt"> {{ post.introductory|raw }} </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>   
</div>

{#THE BLOCK OF SIDEBAR#}
<div class="col-xs-12  col-md-3  col-md-pull-9">
     <div class="sidebar">
            {% include 'sidebars/aboutme.twig' %}
     </div>
</div>

{% endblock %}